<%= simple_form_for [@survey, @activity_log] do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Activity Log</legend>

    <%= f.input :start_date, as: :datepicker %>

    <div class="form-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to 'Cancel', @survey, class: 'btn' %>
    </div>
  </fieldset>
<% end %>