<% title("Activity Log") %>
<div class='span10'>
	<legend>Activity Log History</legend>
</div>
<div class='span5'>
	<div class="span5" id="log-entries">
		<table class="table">
			<tbody>
				<% @activity_log.recent_log_entries.each do |entry| %>
					<% today = entry[0] == Date.today %>
					<tr <%= "class=highlight" if today %>>
						<td>
							<%= link_to entry[0].strftime('%A, %b %e'), entry[1] %>
						</td>
						<td class="number"><%= entry[2] %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<% if current_user.admin %>
			<p>
				<%= link_to "Back to Survey", @survey, class: "btn" %>
				<% if @activity_log.start_date < 5.days.ago.to_date %>
					<%= link_to "View Summary", 
											summary_table_activity_log_path(@activity_log),
										class: "btn" %>
				<% end -%>
			</p>
	<% end -%>
</div>