<div id='activity_log'>
  <h2><%= @activity_log.user.email %></h2>
  <%= link_to "Edit Activity Log", [:edit, @survey, @activity_log] %>
  <%= link_to "Delete Activity Log", [@survey, @activity_log],
            method: :delete, confirm: "Are you sure?" %> 
  <p>
  	Activity Log Starting <%= @activity_log.start_date %>
  </p>
	<ul id='log-entries'>
		<% @activity_log.log_entries.order(:date).each_with_index do |entry, i| %>
			<li>
				Day <%= i + 1 %> -
				<%= link_to entry.date, [@activity_log, entry] %>
			</li>
		<% end %>
	</ul>
</div>