<% title("Activity Log") %>
<div class='span10'>
	<h3>Activity Log Starting <%= @activity_log.start_date.strftime('%B %e, %Y') %></h3>
	<div class="span4" id="log-entries">
		<table class="table">
			<tbody>
				<% @activity_log.log_entries.order(:date).each_with_index do |entry, i| %>
					<% today = entry.date == Date.today %>
					<tr <%= "class=highlight" if today %>>
						<td>
							<%= link_to "Day #{i + 1}", 
											today ? [:edit, @activity_log, entry] : [@activity_log, entry] 
								%>
						</td>
						<td><%= entry.date.strftime('%A, %b %e') %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<% if current_user.admin %>
		<div class="span6">
			<p>
				<%= link_to "Back to Survey", @survey, class: "btn" %>
			</p>
		</div>
	<% end -%>
</div>