<%= simple_form_for [@user_moment, @response],
          html: { class: 'form-horizontal'} do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Response for moment: <%= @user_moment.moment.strftime('%b %e, %l:%M %p') %></legend>

    <% if @response.new_record? %>
      <%= f.input :q1selection, collection: @q1options,
                  label: "What type of activity?",
                  prompt: "Select activity type" %>
      <%#= f.input :q1text, label: "Please specify" %>
      <%= f.input :q2selection, collection: @q1options,
                  as: :grouped_select, group_method: :children,
                  label: "What specific activity?",
                  include_blank: true %>
      <%#= f.input :q2text, label: "Please specify" %>
      <%= f.input :q3selection, collection: @q3options,
                  label: "With whom?",
                  prompt: "Select people" %>
      <%#= f.input :q3text, label: "Please specify" %>
    <% end -%>
    <div class="form-actions">
      <%= f.submit "Submit", class: 'btn btn-primary' %>
      <%= link_to 'Cancel', :back, class: 'btn' %>
    </div>
  </fieldset>
<% end %>