<%= simple_form_for @survey, html: { class: 'form-horizontal'} do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Survey</legend>

    <%= f.input :name %>
    <%= f.input :description %>
    <% if @survey.new_record? %>
      <%= f.association :county %>
      <%= f.input :create_with_logs, label: "Create logs for all users?",
      						as: :boolean, default: true %>
      <%= f.input :default_start_date, as: :datepicker,
      						hint: "Leave blank if you wish to specify start dates individually" %>
    <% end -%>
    <div class="form-actions">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to 'Cancel', :back, class: 'btn' %>
    </div>
  </fieldset>
<% end %>