<% title(@survey.name, "Surveys") %>
<div class='span10'>
	<h2><%= @survey.name %></h2>	
	<p>
		<%= link_to "View Summary", summary_table_survey_path(@survey), 
								class: "btn" %>
		<%= link_to "Edit Survey", [:edit, @survey], 
								class: 'btn' %>
		<%= link_to "Delete Survey", @survey,
		            method: :delete, confirm: "Are you sure?", 
								class: 'btn btn-danger' %>
	</p>
	<div class="well" id="user-moments">
		<h3>User Moments</h3>

		<%= render 'user_moments' %>

	</div>
</div>