<% title(@survey.name, "Surveys") %>
<h2><%= @survey.name %></h2>	
<p>
	<% if current_user.admin? %>
	<%= link_to "Edit Survey", [:edit, @survey], 
							class: 'btn' %>
	<%= link_to "Delete Survey", @survey,
	            method: :delete, confirm: "Are you sure?", 
							class: 'btn btn-danger' %>
	<% end -%>
</p>
<div class="span6 well" id="activity-logs">
	<h3>Activity Logs</h3>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>User</th>
				<th>Start Date</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @survey.activity_logs.each do |log| %>
		    <tr>
		    	<td><%= link_to log.id, [@survey, log] %></td>
		    	<td><%= log.user.email %></td>
		    	<td><%= log.start_date %></td>
		    	<td>
		    		<%= link_to "Edit", [:edit, @survey, log], 
		    								class: 'btn btn-mini' %>
						<%= link_to "Delete", [@survey, log],
						            method: :delete, confirm: "Are you sure?", 
		    								class: 'btn btn-mini btn-danger' %>
		    	</td>		
				</tr>
			<% end %>
		</tbody>
	</table>
		
	<%= link_to "New Activity Log", new_survey_activity_log_path(@survey),
							class: 'btn btn-primary' %>
</div>
