<%= simple_form_for([@log_entry.activity_log, @log_entry]) do |f| %>
	<%= f.error_notification %>
	<div class="mobile-activities">
		<table class="table">
			<tbody>
				<%= f.fields_for :activities, @activities do |a| %>
					<tr>
						<td>Code <%= a.object.code %></td>
						<td><%= link_to "-", '#', 
			    								class: 'btn btn-large' %>
						<span class="fake">	<%= a.object.hours %></span>
						<%= link_to "+", '#', 
			    								class: 'btn btn-large btn-primary' %></td>
					</tr>
				<% end -%>
			</tbody>
		</table>
	</div>
  <%= f.submit "Save", class: 'btn btn-large btn-primary' %>
<% end -%>

