<% provide(:header, @log_entry.date.strftime('%A, %b %e')) %>
<% if params[:show_all] == '1' %>
  <%= link_to "Show Favorites", date: @log_entry.date.strftime('%Y%m%d'), show_all: 0 %>
<% else %>
  <%= link_to "Show All Activities", date: @log_entry.date.strftime('%Y%m%d'), show_all: 1 %>
<% end %>
<%= simple_form_for([@log_entry.activity_log, @log_entry]) do |f| %>
	<%= f.error_notification %>
	<%= f.hidden_field :date %>
	<div class="mobile-activities-select">		
		<table class="table" id="activities">
			<tbody>
				<tr>
					<td>Total hours</td>
					<td><%= f.input :hours, collection: hour_options,
													label: false,
													include_blank: false %></td>
				</tr>
				<%= f.fields_for :activities, @activities do |a| %>
					<%= a.hidden_field :activity_category_id %>
					<tr>
						<td><%= a.object.name %></td>
						<td><%= a.input :hours, collection: hour_options,
														label: false,
														include_blank: false %></td>
					</tr>
				<% end -%>
			</tbody>
		</table>
		<div class="form-actions">
			<%= f.submit "Save", class: 'btn btn-large btn-primary' %>
			<%= link_to "Cancel", :back, class: "btn btn-large" %>
		</div>
	</div>
<% end -%>