<div class='span8'>
	<%= simple_form_for([@activity_log, @log_entry]) do |f| %>
		<legend><%= @log_entry.date.strftime('%A, %B %e, %Y') %></legend>
		<%= f.error_notification %>
		<%= f.hidden_field :date %>
		<div class="span8" id="activities">
			<table class="table">
				<thead>
					<tr>
						<th>Code</th>
						<th>Description</th>
						<th>Hours</th>
					</tr>
				</thead>
				<tbody>
					<%= f.fields_for :activities, @activities do |a| %>
						<%= a.hidden_field :activity_category_id %>
						<tr>
							<td><%= a.object.code %></td>
							<td><%= a.object.name %></td>
							<td><%= a.text_field :hours, class: 'hours' %></td>
						</tr>
					<% end -%>
				</tbody>
			</table>
			<div class="form-actions">
		    <%= f.submit "Save", class: 'btn btn-primary' %>
		    <%= link_to "Cancel", :back, class: "btn" %>
		  </div>
	  <% end -%>
	</div>
</div>
