<h3><%= @log_entry.date %></h3>

<%= simple_form_for([@log_entry.activity_log, @log_entry]) do |f| %>
	<div class="span8" id="activities">
		<table class="table">
			<tbody>
				<%= f.fields_for :activities, @activities do |a| %>
					<tr>
						<td><%= a.object.code %></td>
						<td><%= a.object.name %></td>
						<td><%= a.text_field :hours, class: 'hours' %></td>
					</tr>
				<% end -%>
			</tbody>
		</table>
		<div class="form-actions">
	    <%= f.submit "Save", class: 'btn btn-primary' %>
	    <%= link_to "Cancel", :back, class: "btn" %>
	  </div>
  <% end -%>
</div>