<h3><%= @log_entry.date %>
	<%= link_to "Edit", [:edit, @activity_log, @log_entry], 
							class: 'btn btn-mini' if @log_entry.date < Date.tomorrow %></h3>
<div class="span8" id="activities">
	<table class="table">
		<tbody>
			<% @activities.each do |activity| %>
				<tr>
					<td><%= activity.code %></td>
					<td><%= activity.name %></td>
					<td><%= activity.hours || 0 %></td>
				</tr>
			<% end -%>
		</tbody>
	</table>
</div>
<p>
	<%= link_to "Back to Activity Log", [@activity_log.survey, @activity_log], class: "btn" %>
</p>