<%= simple_form_for [:admin, @user] do |f| %>
  <%= f.error_notification %>

	<fieldset>
		<%= f.association :county %>
		<%= f.association :job_classification %>
		<%= f.input :email %>
		<%= f.input :password %>
		<%= f.input :admin %>

	  <div class="form-actions">
			<%= f.submit %>
		</div>
	</fieldset>
<% end %>