<h2>Users</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Email</th>
			<th>County</th>
			<th>Role</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	  <% @users.each do |user| %>
	    <tr>
	    	<td><%= user.id %></td>
	    	<td><%= link_to user.email, [:admin, user] %></td>
	    	<td><%= user.county_name %></td>
	    	<td><%= user.role %></td>
	    	<td>
	    		<%= link_to "View", [:admin, user], 
	    								class: 'btn btn-mini' %>
	    		<%= link_to "Edit", [:edit, :admin, user], 
	    								class: 'btn btn-mini' %>
					<%= link_to "Delete", [:admin, user],
					            method: :delete, confirm: "Are you sure?", 
	    								class: 'btn btn-mini btn-danger' %>
	    	</td>
	    </tr>
	  <% end -%>
	</tbody>
</table>

<!-- # <%= link_to "New User", new_admin_user_path %>
# <ul id='users'>
# 	<% @users.each do |user| %>
# 	<li><%= link_to user, [:admin, user] %></li>
# 	<% end %>
# </ul> -->